@font-face{
	font-family: 'Lato Semi Bold';
	src: url('../fonts/Lato-Semibold.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body,p,button,dialog,select,input,div{
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Lato Semi Bold';
}
